<div class="card card_item">
    <div class="card-body card_body">         
      <div>
        <h6>Total Bar</h6>
      </div>
      <div style="display: block">
          <canvas baseChart
                    [chartType]="chartType"
                    [datasets]="chartDatasets"
                    [labels]="chartLabels"
                    [colors]="chartColors"
                    [options]="chartOptions"
                    [legend]="false"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
          </canvas>
      </div>
    </div>
</div>