<!-- Toolbar -->
<div id = "filters" class = "row content_row filter_section justify-content-between">
        <div class="btn-toolbar">
            <button class="btn btn_filter btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Locations
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Location A</a>
              <a class="dropdown-item" href="#">Akron</a>
              <a class="dropdown-item" href="#">Branson</a>
              <a class="dropdown-item" href="#">Corning</a>
            </div>
        </div>
        <!-- <button type="button" class="btn btn_export btn-sm">Export</button> -->
</div>
<div class="row content_row">
        <div class="col-sm-12">
            <img class="card_logo" src="/assets/img/demographics_screen.jpg"  alt="..." style = "width: 100%;">
        </div>
</div>
