<div class="card card_item">
    <div class="card-body card_body">
      <div class = "padding_bottom5">   
        <h6>Total Revenue</h6>
      </div>
      <div style="display: block">
          <canvas class = "canvas_content"
                    baseChart
                    [chartType]="chartType"
                    [datasets]="chartDatasets"
                    [labels]="chartLabels"
                    [colors]="chartColors"
                    [options]="chartOptions"
                    [legend]="false"
                    (chartHover)="chartHovered($event)"
                    >
          </canvas>
      </div>
    </div>
</div>