<nav class="navbar navbar-expand-lg navbar-light nav_menu">
    <!-- <a class="navbar-brand" href="#">
        <img src="/assets/img/acutely_logo_white.png" width="40" height="40" alt="">
    </a>-->
</nav>
<div id = "footer" class = "nav_footer">    
    <div class="footer_company_section">
        <img class="footer_logo" src="/assets/img/emerging_white.png"  alt="...">
    </div>
    <ul class="nav justify-content-center">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">What We Do</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">News & Insights</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Events</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Log Out</a>
        </li>
    </ul>
    <div class="footer_company_section">
        <img class="social_logo" src="/assets/img/twitter_transp.png"  alt="...">
        <img class="social_logo" src="/assets/img/linkedin_transp.png"  alt="...">
        <img class="social_logo" src="/assets/img/facebook_transp.png"  alt="...">
        <img class="social_logo" src="/assets/img/pinterest_transp2.png"  alt="...">
        <img class="social_logo" src="/assets/img/chrome_transp.png"  alt="...">
    </div>
</div>