<app-navbar-header></app-navbar-header>
      <div class="tab-content tab_content" id="myTabContent">
        <div class="tab-pane fade" id="customer" role="tabpanel" aria-labelledby="customer_tab">
            <app-menu-customer-overview></app-menu-customer-overview>
        </div>
        <div class="tab-pane fade  show active" id="report" role="tabpanel" aria-labelledby="report_tab">           
            <app-menu-reports></app-menu-reports>
        </div>
        <div class="tab-pane fade" id="compare" role="tabpanel" aria-labelledby="compare_tab">
            <app-menu-compare-locations></app-menu-compare-locations>
        </div>
        <div class="tab-pane fade" id="demographics" role="tabpanel" aria-labelledby="demographics_tab">
            <app-menu-demographics></app-menu-demographics>
        </div>
      </div>
<app-navbar-footer></app-navbar-footer>
