<nav class="navbar navbar-expand-lg navbar-light nav_menu">
    <a class="navbar-brand" href="#">
        <img src="/assets/img/acutely_logo_white.png" width="40" height="40" alt="">
    </a>        
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav nav_menu">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">What We Do</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#">News & Insights</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Log Out</a>
          </li>            
      </ul>
    </div>
</nav>
<div class="logo_company_section">
    <img class="card_logo" src="/assets/img/logo_silverspot_cinema.png"  alt="...">        
</div>
      <ul class="nav nav-tabs justify-content-center nav_header" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link" id="customer_tab" data-toggle="tab" href="#customer" role="tab" aria-controls="customer" aria-selected="true">CUSTOMER OVERVIEW</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" id="report_tab" data-toggle="tab" href="#report" role="tab" aria-controls="report" aria-selected="false">REPORTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="compare_tab" data-toggle="tab" href="#compare" role="tab" aria-controls="compare" aria-selected="false">COMPARE LOCATIONS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="demographics_tab" data-toggle="tab" href="#demographics" role="tab" aria-controls="demographics" aria-selected="false">DEMOGRAPHICS</a>
        </li>
      </ul>